<html>
    <head>
        <title>Namer Hardly Know Her</title>
        <style type="text/css">

            body {
                background: #000000;
                color: #FFFFFF;
            }

            div.container-hardly-know-her {
                max-width: 500px;
                margin: 100px auto;
                border: 5px solid #FFFFFF;
                padding: 10px;
                text-align: center;
            }

        </style>
    </head>
    <body>
        <div class="container-hardly-know-her">
            <h2>{{namer_text}}</h2>
        </div>
    </body>
</html>
